{% extends 'base.html.twig' %}

{% block title %}Hello FormsController!{% endblock %}

{% block body %}

{# {{dump (carnets)}} #}
<ul>
{% for carnet in carnets %}
    <li><h4>{{carnet.titre}}</h4></li>
    <img src="{{ carnet.photo }}" alt="Photo du carnet" width="100">
    <p> par {{carnet.utilisateur.username}}</p>
    {{carnet.dateCarnet|date('d/m/Y')}}
    {# <a href="{{ path('page_afficher_carnet', {'id': carnet.id}) }}">Voir</a> #}

{% endfor %}
</ul>

{% endblock %}