{% extends 'base.html.twig' %}

{% block title %}{{carnet.titre}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="{{ asset('styles/map.css') }}">
{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">Localisation des posts</h1>
                <div class="card">
                    <div class="card-body">
                        <div id="map" data-api-endpoint="{{ path('api_localisations') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para mostrar informaci칩n detallada -->
    <div class="modal fade" id="attractionModal" tabindex="-1" aria-labelledby="attractionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attractionModalLabel">Informaci칩n de la Atracci칩n</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="attractionModalBody">
                    <!-- Contenido din치mico -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    {% if app.user == carnet.utilisateur %}
    <div class="example-wrapper">
        <input type="button" value="Nouveau post" class="btn btn-secondary" onclick="window.location.href='{{ path('page_nouveau_post', {'id': carnet.id}) }}'"> 
    </div>
    {% endif %}
    
    <div class="example-wrapper">
        <h1>{{carnet.titre}}</h1>
        {% if carnet.photo starts with 'http' %}
            <img src="{{ carnet.photo }}" alt="Photo du carnet" width="150">
        {% else %}
            <img src="{{ asset('uploads/carnets/' ~ carnet.photo) }}" alt="Photo du carnet" width="150">
        {% endif %}
        {#<p> par {{carnet.utilisateur.username}}</p>#}
        {{carnet.dateCarnet|date('d/m/Y')}}
    </div>
    <hr>
    <h2>Mes posts</h2>
    <div class="example-wrapper">
        {% for post in carnet.posts %}
            <h3>{{post.titre}}</h3>
            <p>{{post.datePost|date('d/m/Y')}}</p>
            {% for photo in post.photos %}
                {% if photo.imageFile starts with 'http' %}
                    <img src="{{ photo.imageFile }}" alt="Photo du post" width="150">
                {% else %}
                    <img src="{{ asset('uploads/posts/') ~ photo.imageFile }}" alt="Photo du post" width="150">
                {% endif %}
            {% endfor %}
            <p>{{post.texte}}</p>
            {% if post.comments is not empty %}
                <h5>Commentaires</h5>
                {% for comment in post.comments %}
                    <div>
                        <p>{{comment.dateComment|date('d/m/Y')}}</p>
                        <p><img src="{{ comment.utilisateur.photo}}" alt="Photo de {{comment.utilisateur.username}}" width="25">
                        {{comment.utilisateur.username}}</p>
                        <p>{{comment.texte}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        <hr>
        {% endfor %}
    </div>



{% endblock %}